:root {
    --color: #aaa;
    --background: #000;
    --size: 1;
    --glow: 1;
    --animation: terminal-blink;
}
body {
    background: var(--background, black);
}
.terminal {
    position: absolute;
    display: flex;
    width: w;
    height: h;
    border-radius: 10px;
    border: 1px solid var(--color);
    overflow: hidden;
}
