:root {
    --color: #aaa;
    --background: #000;
    --size: 1;
    --glow: 1;
    --animation: terminal-blink;
}
body {
    background: var(--background, black);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.terminal {
    position: relative;
    width: 80vw;
    height: 80vh;
    border-radius: 10px;
    border: 1px solid var(--color);
    overflow: hidden;
    transition: all 0.3s ease;
}
